#wszystko{
    width: 440px;
    height: 900px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2%;
    overflow-x: hidden;
}

div#wynik{
    font-size: 550%;
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
}
*{
    color: white;
    font-family: Helvetica;
}
button{
    margin: 3px;
    width:100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    font-size: 250%;
}
button:hover{
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 8px 18px rgba(0,0,0,0.5);
}
button.cyfry:hover, button.prawiecyfry:hover{
    background-color: #5a5a5a;
}
button.gora:hover{
    background-color: #a2a2a2;
}
button.prawe:hover{
    background-color: #ffc803;
}
button.cyfry, button.prawiecyfry{
    background-color: #323232;
    border: solid 1px #3f3f3f;
}
button.gora{
    background-color: #5c5c5c;
    border: solid 1px #707070;
}
button.prawe{
    background-color: #fe9200;
    border: solid 1px #ff9a15;
}
div#poprzednie{
    font-size: 230%;
    color: #909092;
}
button#historia{
    background-color: #121212;
    border: 1px solid #222222;
    float: left;
    width: 60px;
    height: 60px;
    font-size: 150%;
}
button#historia:hover{
    background-color: #838383;
}
button#typ:hover{
    background-color: #838383;
}
button#typ{
    background-color: #121212;
    border: 1px solid #222222;
    float: right;
    width: 60px;
    height: 60px;
    font-size: 150%;
}
main{
    clear: both;
}
div#tekst{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
    width: 430px;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: left;

    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: left;
}
header{
    width: 440px;
}
img{
    width: 35px;
    height: 35px;
    padding-top: 5px;
}